Flask
Flask-SQLAlchemy
Flask-Login
Flask-Mail
gunicorn
psycopg2-binary


    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-24T9KDPZ7B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-24T9KDPZ7B');
</script>